.container {
  margin-top : 60px;
  height     : 400px;
}

.d3-concentric-circles-legend {
  position : absolute;
  top      : 0;
  right    : 0;
  padding  : 10px 60px 10px 10px;
  border   : 1px solid #aaa;
}

.d3-concentric-circles-legend ul {
  margin     : 0;
  padding    : 0;
  list-style : none;
}

.d3-concentric-circles-legend li {
  padding: 5px;
  float      : left;
  clear      : both;
  list-style : none;
}

.d3-concentric-circles-legend-color {
  margin-right  : 10px;
  width         : 20px;
  height        : 20px;
  display       : block;
  float         : left;
  border-radius : 100%;
}
